<!DOCTYPE html>
<html>
  <head>
    <title>Stock Price Checker</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💹</text></svg>">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./public/style.css" />
  </head>
  <body>
    <header>
      <h1>ISQA_5 - Nasdaq Stock Price Checker </h1>
    </header>
    <div id="testui">
      <div id="single-price">
        <h3>Get single price and total likes</h3>
        <form id="testForm2" class="border">
          <input id="single" type="text" name="stock" placeholder="GOOG" required="" />
          <input type="checkbox" id='likeSingle' name="like" value="true" />
          <label for="likeSingle" class="emoji-label"></label>
          <br />
          <button type="submit">Get Price💸</button>
        </form>
      </div>
      <div id="double-like">
        <h3>Compare and get relative likes</h3>
        <form id="testForm" class="border">
          <input type="text" name="stock" placeholder="GOOG" required="" />
          🆚
          <input type="text" name="stock" placeholder="MSFT" required="" />
          <input type="checkbox" name="like" id="likeDouble" value="true" />
          <label for="likeDouble" class="emoji-label"></label>
          <br />
          <button type="submit">Get Price💸</button>
        </form>
      </div>
      <div id="jsonResult"></div>
    </div>
    <div id="userstories">
      <details id="usage-example">
        <summary>Example API usage: 👩🏻‍💻</summary>
        <code>/api/stock-prices?stock=GOOG</code>
        <br />
        <code>/api/stock-prices?stock=GOOG&amp;like=true</code>
        <br />
        <code>/api/stock-prices?stock=GOOG&amp;stock=MSFT</code>
        <br />
        <code>/api/stock-prices?stock=GOOG&amp;stock=MSFT&amp;like=true</code>
        <br />
      </details>
      <details id="return-example">
        <summary>Example return: 👩🏻‍💻</summary>
        <code>{"stockData":{"stock":"GOOG","price":786.90,"likes":1}}</code>
        <br />
        <code>
          {"stockData":[{"stock":"MSFT","price":62.30,"rel_likes":-1},{"stock":"GOOG","price":786.90,"rel_likes":1}]}
        </code>
      </details>

    </div>
    <script src="/public/script.js"></script>
  </body>
</html>
